{% for article in articles %}

    <div class="col-4 animate__backInRight animate__animated">
        <div class="card bg-light my-5 shadow">
            <h3 class="card-header">{{article.title | title}}</h3>
            <img height="350px"  src="{{ article.image }}" alt="Card image">
            <div class="card-body">
            <p class="card-text">{{article.content | raw}}</p>
            <a href="#" class="btn btn-primary rounded">Lire la suite</a>
            <div class="my-3">
                <a href="" class="card-link">{{article.intro}}</a>
            </div>
            </div>
            <div class="card-footer text-muted">
            Il y a 2 jours : {{ "now" | date('Y') }}

            </div>
        </div>
    </div>
{% endfor %}